---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/pages.css";
import TagCloud from "@/components/TagCloud.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog",  ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const postsByYear = posts.reduce(
  (acc, post) => {
    const year = new Date(post.data.date).getFullYear();

    if (!acc[year]) acc[year] = [];
    acc[year].push(post);

    return acc;
  },
  {} as Record<number, typeof posts>
);
const groupedPosts = Object.entries(postsByYear)
  .map(([year, posts]) => ({
    year: Number(year),
    posts: posts.sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date)),
		count: posts.length
  }))
  .sort((a, b) => b.year - a.year);
const title = "Blog";
---

<BaseLayout title={title}>
  <main>
		<header class="page-header">
			<h1>{title}</h1>
		</header>

		<TagCloud />

		{groupedPosts.map(({ year, posts, count }) => (
		<span class="post-meta">{year} ({count} posts)</span>
		<ul class="post-list">
			{posts.map((post) => (
				<li class="no-list-style no-margin post-item">
					{post.data.external_url ? 
						<a class={`external-url no-underline ${post.data.external_site}`} href={post.data.external_url}>{post.data.title}</a> : 
						<a class="no-underline" href={`/blog/${post.id}/`}>{post.data.title}</a>
					}
				</li>
			))}
		</ul>
		))}
  </main>
</BaseLayout>
