---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import "@/styles/pages.css";
import { createExcerpt, slugify } from "@/utils";
import { getCollection } from "astro:content";
import pubData from "@/data/publications.json";

const publications = pubData as Record<string, { name: string }>;
const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const latestPosts = posts
  .sort((a, b) => +new Date(b.data.date) - +new Date(a.data.date))
  .slice(0, 12);
---

<BaseLayout>
  <main>
    <ul class="post-list">
      {
        latestPosts.map((post) => {
          const dateObj = new Date(post.data.date);
          const key = post.data.external_site as string | undefined;
          const site = key ? publications[key] : undefined;
          const tags: string[] = post.data.tags ?? [];
          const excerpt = createExcerpt(post.body ?? "");

          return (
            <li class="no-list-style">
              <span class="post-meta">
                <FormattedDate date={dateObj} />
              </span>
              <h2 class="post-title">
                {post.data.external_url ? (
                  <a
                    class={`post-link external-url no-underline ${post.data.external_site}`}
                    href={post.data.external_url}
                  >
                    {post.data.title}
                  </a>
                ) : (
                  <a class="post-link no-underline" href={`/blog/${post.id}/`}>
                    {post.data.title}
                  </a>
                )}
              </h2>
              {post.data.external_site && (
                <p class="note italicise">This article was originally published on {site?.name}.</p>
              )}
              <div class="post-summary">{excerpt}</div>
              <p class="post-meta">
                {tags.length === 1 && (
                  <span class="icon icon--tag" aria-hidden="true">
                    <svg viewBox="0 0 544 512">
                      <path d="M496,32H384c-26.4,0-63.273,15.273-81.941,33.941L113.941,254.059c-18.667,18.667-18.667,49.214,0,67.882l140.118,140.115 c18.667,18.668,49.214,18.668,67.882,0l188.115-188.115C528.727,255.273,544,218.4,544,192V80C544,53.6,522.4,32,496,32z M432,192 c-26.51,0-48-21.49-48-48s21.49-48,48-48s48,21.49,48,48S458.51,192,432,192z" />
                    </svg>
                  </span>
                )}
                {tags.length > 1 && (
                  <span class="icon icon--tags" aria-hidden="true">
                    <svg viewBox="0 0 544 512">
                      <path d="M496,32H384c-26.4,0-63.273,15.273-81.941,33.941L113.941,254.059c-18.667,18.667-18.667,49.214,0,67.882l140.118,140.116 c18.667,18.668,49.214,18.668,67.882,0l188.116-188.116C528.727,255.273,544,218.4,544,192V80C544,53.6,522.4,32,496,32z M432,192 c-26.51,0-48-21.49-48-48s21.49-48,48-48s48,21.49,48,48S458.51,192,432,192z M43.313,299.312l171.189,171.189 c-18.132,9.58-41.231,6.77-56.443-8.444L17.941,321.941c-18.667-18.668-18.667-49.215,0-67.882L206.059,65.941 C224.727,47.273,261.6,32,288,32L43.313,276.686C37.091,282.909,37.091,293.09,43.313,299.312z" />
                    </svg>
                  </span>
                )}

                {tags.map((tag, i) => (
                  <>
                    {i > 0 && ", "}
                    <a class="post-content__tag small" href={`/tags/${slugify(tag)}/`}>
                      {tag}
                    </a>
                  </>
                ))}
              </p>
            </li>
          );
        })
      }
    </ul>

    <div class="more-link">
      <p><a class="no-underline" href="/blog/">more &#10142;</a></p>
    </div>

    <p class="rss-subscribe">subscribe <a href="/rss.xml">via RSS</a></p>
  </main>
</BaseLayout>

<style>
  .post-link {
    color: var(--colour-english-walnut);
  }

  .post-summary p {
    margin-block-end: 0;
  }

  .more-link {
    text-align: right;
  }

  .rss-subscribe {
    font-size: 75%;
  }
</style>
